html {
  font-size: 62.5%
}
body {
  margin: 0;
  font-family: 300 11px/1.0 'Helvetica Neue';
  color: #444;
  background: #050505;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visibile;
  }
}